terraform/variables.tf
keys/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/*.tfvars
terraform.tfstate


# Backend 
# Virtual environment
backend/.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django local database
backend/db.sqlite3

# Django migrations cache
backend/*/migrations/__pycache__/

# Local environment settings
.env
*.env

# Frontend
# Node dependencies
frontend/node_modules/

# Production build output
frontend/dist/

# Local environment variables
frontend/.env
frontend/.env.*

# Editor

# VSCode
.vscode/
