#cloud-config
package_update: true
package_upgrade: true

packages:
  - git
  - docker.io
  - docker-compose

runcmd:
  # Add your user to the docker group so you can run docker without sudo
  - sudo usermod -aG docker CodeMagicians
  - sudo systemctl enable docker
  - sudo systemctl start docker